<div class = "container">
  <div class = "row long-photo">
    <%= image_tag 'default-image.jpg', class:'long-photo' %>
  </div>
  <div class = "row">
    <%= render "public/users/current_user_info" %>
    <div class = "col d-flex flex-wrap">
      <div class = "col-7">
        <%= image_tag @post.post_image, class: "post-image" %>
      </div>
      <div class = "col-5">
        <div class = "row">
          <label>投稿タイトル：</label>
          <%= @post.title %>
          <label class = "ml-3">ジャンル：</label>
          <%= @post.genre.genre_name %>
          <% if @post.favorited?(current_user) %>
            <%= link_to post_favorites_path(@post.id), method: :delete do %>
              <span style="color:red;">❤︎</span>
            <% end %>
          <% else %>
            <%= link_to post_favorites_path(@post.id), method: :post do %>
              <span>❤︎</span>
            <% end %>
          <% end %>
        </div>
        <div class = "row">
          <label>ブランド名：</label>
          <%= @post.brand %>
          <label class = "ml-3">値段：</label>
            <%= @post.price %>円
        </div>
        <div class = "row">
          <label>投稿者コメント：</label>
          <%= @post.comment %>
        </div>
        <div class = "row">
          <div class = "col-6">
          <%= image_tag @user.profile_image, class: "profile-image-info" %>
          </div>
          <div class = "col-6">
            <label>投稿者：</label>
            <%= link_to user_path(@user.id) do %>
              <%= @user.name %>
            <% end %><br/>
            <label>投稿者紹介</label>
            <%= @user.introduction %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class = "row">
    <div class = "col-12">
      <h1>ssss</h1>
    </div>
  </div>
</div>
  
