
    <div class = "row long-photo">
        <%= image_tag 'default-image.jpg', class:'long-photo' %>
    </div>

    <div class = "row">
      <%= render "public/users/current_user_info" %>
      <div class = "col-8 offset-1 d-flex flex-wrap">
        <% @clothes.each do |clothe| %>
          <div class="row">
              <%= link_to clothe_path(cloth) do %>
                <div class="clothe-image-text card-effect text-center">
                  <div class="clothe-image-box">
                    <%= image_tag clothe.clothe_image, class: "clothe-image-index" %>
                  </div>
                  <div class="clothe-title my-2">
                    <strong>title:</strong><%= clothe.title %>
                  </div>
                </div>
              <% end %>
          </div>
        <% end %>
      </div>
    </div>