
  <div class = "row long-photo">
    <%= image_tag 'default-image.jpg', class:'long-photo' %>
  </div>
  <div class = "row">
    <%= render "public/users/current_user_info" %>
    <div class = "col offset-1 d-flex flex-wrap">
      <div class = "col-6">
        <%= image_tag @clothe.cloth_image, class: "clothe-image" %>
      </div>
      <div class = "col-6">
        <div class = "row">
          <label>投稿タイトル：</label>
          <%= @clothe.title %>
          <label class = "ml-3">ジャンル：</label>
          <%= @cloteh.genre.genre_name %>
          <% if @clothe_favorite?(current_user) %>
            <%= link_to clothe_favorite_path(@clothe), method: :delete, do %>
              <span style="color:red;">❤︎</span>
            <% end %>
          <% else %>
            <%= link_to clothe_favorites_path(@clothe), method: :post do %>
              <span>❤︎</span>
            <% end %>
          <% end %>
        </div>
        <div class = "row">
          <label>ブランド名：</label>
          <%= @clothe.brand %>
          <label class = "ml-3">値段：</label>
            <%= @clothe.price %>円
        </div>
        <div class = "row">
          <label>投稿者コメント：</label>
          <%= @clothe.comment %>
        </div>
        <div class = "row">
          <div class = "col-4">
          <%= image_tag @user.profile_image, class: "profile-image-info" %>
          </div>
          <div class = "col-8">
            <label>投稿者：</label>
            <%= link_to user_path(@user.id) do %>
              <%= @user.name %>
            <% end %><br/>
            <label>投稿者紹介</label>
            <%= @user.introduction %>
          </div>
        </div>
      </div>
    </div>
  </div>

