<div class = "container">
  <div class = "row">
    <h1>ジャンル一覧・作成</h1>
  </div>
  <%= form_with model:@genre, url:admin_genres_path do |f| %>
    <div class = "row">
      <label>ジャンル名</label>
      <%= f.text_field :genre_name, placeholder:"ジャンル名を入力してください", class: "form-control" %>
    </div>
    <div>
      <%= button_tag(type: "submit", class: "btn bgleft btn-sm shadow-sm ml-2") do %>
        <span>
         追加
        </span>
      <% end %>
    </div>
  <% end %>
  <div class = "row">
      <table>
        <thead>
          <tr>
            <th>ジャンル名</th>
            <th></th>
          </tr>
        </thead>
      <% @genres.each do |genre| %>
        <tbody>
          <tr>
            <td><%= genre.genre_name %></td>
            <td><%= link_to "edit", edit_admin_genre_path(genre), class: "btn btn-edit" %></td>
          </tr>
        </tbody>
       <% end %>
      </table>
  </div>
</div>