<div class = "container-fluid">
  <div class = "row">
    <p class = "alert" id="alert"><%= alert %></p>
  </div>
  <div class ="row background-white-clear">
    <div class ="col-sm-12 col-md-6 ml-5 mb-5 pb-5 background-white-opacity">
      <div class = "row">
         <%= image_tag 'top-img.png', class: "top-img" %>
      </div>
      <div class = "row mt-5">
        <h4>みんなの購入した服を見てみよう！！</h4>
        <p>
          ゲストログインは
          <%= link_to 'こちら', users_guest_sign_in_path, method: :post, class: "login" %>
          から
        </p>
      </div>
    </div>
    <div class = "col-sm-12 col-md-5 mb-5 pb-5">
      <div class = "row my-5">
        <div class = "col">
          <h3>みんなが購入した服を見て参考にしたり、</h3><br/>
          <h3>自分のお気に入りの服を投稿しよう！！</h3>
        </div>
      </div>
      <div class = "row">
        <div class = "col">
         <h2>会員登録をしてみんなと共有しよう！！</h2>
          <%= link_to new_user_registration_path, class: "btn btn-sign-up-top" do %>
            <i class="fas fa-user-plus"></i>Sign up
          <% end %>
        </div>
      </div>
      <div class = "row my-5">
        <div class = "col">
          <h2>既にアカウントをお持ちの方</h2>
          <%= link_to new_user_session_path, class: "btn btn-log-in-top" do %>
            <i class="fas fa-sign-in-alt"></i>Log in
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
