<!DOCTYPE html>
<html>
  <head>
    <title>Clothes</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark ">
        <div class="container">
          <a class="navbar-brand" href="/">
            <span>Clothes</span>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                        aria-controls="navbarNavDropdown" aria-exoanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
              <% if user_signed_in? %>
              <li>
                <%= link_to user_path(current_user.id), class: "nav-link text-light" do %>
                  <i class="fas fa-user-tie"></i> My page
                <% end %>
              </li>
              <li>
                <%= link_to category_path, class: "nav-link text-light" do %>
                  <i class="fas fa-tshirt"></i>Item-Category
                <% end %>
              </li>
              <li>
                <%= link_to posts_path, class: "nav-link text-light" do %>
                  <i class="far fa-address-card"></i>Posts
                <% end %>
              </li>

              <li>
                <%= link_to users_log_out_confirm_path, class: "nav-link text-light" do %>
                  <i class="fas fa-sign-out-alt"></i>Log_out
                <% end %>
              </li>
              <% else %>
              <li>
                 <%= link_to root_path, class: "nav-link text-light" do %>
                   <i class="fas fa-home"></i>Home
                 <% end %>
              </li>
              <li>
                <%= link_to new_user_registration_path, class: "nav-link text-light" do %>
                  <i class="fas fa-user-plus"></i>Sign up
                <% end %>
              </li>
              <li>
                <%= link_to new_user_session_path, class: "nav-link text-light" do %>
                  <i class="fas fa-sign-in-alt"></i> Log in
                <% end %>
              </li>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <main>
      <%= yield %>
    </main>
    <footer class="text-center text-white pt-5 pb-4">
      <p>Portfolio.clothes</p>
    </footer>
  </body>
</html>
